$dark-blue: #0e207b;

#intro {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(100vw - 40%);
  height: 110vh;
  color: $dark-blue;
  padding: 0 20%;

  .message-plain, .message-stroke {
    transition: 1s all ease;
  }

  .intro-anchor {
    opacity: 0;
  }

  .pink-waves {
    position: absolute;
    top: 10%;
    left: 10%;
    transition: 1s all ease;
  }

  .blue-waves {
    position: absolute;
    bottom: 10%;
    right: 10%;
    transition: 1s all ease;
  }
}

@media screen and (max-width: 728px) {
  #intro {
    .pink-waves { z-index: -999; }
    .blue-waves { 
      z-index: -999; 
      opacity: 0.2;
    }
    
    .message-plain { font-size: 28px; }
    .message-stroke { 
      font-size: 32px;
      margin-top: 10px;
    }
  }
}
