$dark-blue: #0f63e2;
$blue: #59cbff;
$orange: #ffb350;
$pink: #ffc0cb;

@keyframes dotFall {
  from {
    opacity: 1;
    top: -5vh;
  }
  to {
    top: 80vh;
  }
}

.dots-falling-left {
  display: flex;
  position: absolute;
  width: 20vw;
  left: 0;
  height: 100vh;
  z-index: 1;
}

.dots-falling-right {
  display: flex;
  position: absolute;
  width: 20vw;
  right: 0;
  height: 100vh;
  z-index: 1;
}

.dot {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
}

.yellow-dot {
  height: 10px;
  width: 10px;
  left: 5vw;
  background-color: $orange;
  animation: 14s dotFall infinite;
}

.dark-blue-dot {
  height: 13px;
  width: 13px;
  left: 20vw;
  background-color: $dark-blue;
  animation: 12s dotFall infinite;
  animation-delay: 5s;
}

.pink-dot {
  height: 15px;
  width: 15px;
  left: 40vw;
  background-color: $pink;
  animation: 13s dotFall infinite;
  animation-delay: 2s;
}

.light-blue-dot {
  height: 20px;
  width: 20px;
  left: 60vw;
  background-color: $blue;
  animation: 15s dotFall infinite;
  animation-delay: 10s;
}

.red-dot {
  height: 11px;
  width: 11px;
  left: 80vw;
  background-color: $pink;
  animation: 11s dotFall infinite;
  animation-delay: 2s;
}

.blue-dot {
  height: 17px;
  width: 17px;
  left: 95vw;
  background-color: $blue;
  animation: 16s dotFall infinite;
  animation-delay: 7s;
}