.app {
  position: relative;
  width: 100vw;
  cursor: none;
}

.header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

#section-one {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  //transform: rotate(-5deg);
  background-color: rgb(255, 255, 184);
  
  .message-stroke {
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    margin-top: -25px;
    font-family: "Playfair Display", serif;
    -webkit-text-stroke-color: #00327c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }
}

#hero-scene, #section-two {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  cursor: none;
  touch-action: none;
  background-color: #fff;
  overflow: hidden;

  .message {
    font-weight: 900;
    font-size: 72px;
    color: rgb(15, 99, 226);
    font-family: "Playfair Display", serif;
  }

  .message-stroke {
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    margin-top: -25px;
    font-family: "Playfair Display", serif;
    -webkit-text-stroke-color: #0f63e2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }
}

.cursor {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background: #ffb350;
  border-radius: 80%;
  border: 130px solid rgb(15, 99, 226);
  backface-visibility: hidden;
  pointer-events: none;
  opacity: 1;
  mix-blend-mode: screen;
}

.cursor-small {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: rgb(89, 203, 255);
  border-radius: 80%;
  backface-visibility: hidden;
  pointer-events: none;
  opacity: 1;
  z-index: 999;
}
