$dark-blue: #0e207b;
$blue: #59cbff;
$light-pink: #ffe2e7;
$pink: #ffc0cb;

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#hero-scene {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: calc(100vw - 80px);
  height: 100vh;
  width: 86vw;
  padding: 0 7vw;
  animation: 3s fadeInHome;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;

  .white-waves {
    position: absolute;
    bottom: 5vh;
    right: 8vh;
    transition: 1s all ease;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;

    .blue {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
      background-color: $blue;
      background: url("/hero2-res.jpg");
      background-size: cover;
      background-position: right;
    }
  }

  .hero-image {
    position: absolute;
    top: 13vh;
    left: 7vw;
    height: 74vh;
    width: 60vw;
    z-index: -1;
    background: url("/hero-res.jpg");
    background-size: cover;
    transition: 1s all ease;
  }

  .hero-scene-text {
    position: absolute;
    bottom: 19vh;
    margin-left: 50px;

    .message-pink {
      letter-spacing: 5px;
      font-weight: 900;
      color: $pink;
    }

    .title {
      font-weight: 700;
      font-size: 80px;
      line-height: 82px;
      width: 55%;

      margin-top: 20px;
      color: #fff;
      font-family: "Playfair Display", serif;
    }
  }

  .button-go {
    position: absolute;
    display: flex;
    right: calc(33vw - 50px);
    top: 45%;
    align-items: center;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 25px;
    width: 50px;
    color: #fff;
    background-color: $blue;
    margin-top: 40px;
    margin-bottom: 18vh;
    border-radius: 30px;
    transition: 1s background-color ease;

    &:hover { background-color: #24a7ff; }
    &:active { background-color: $dark-blue; }

    i {
      color: #fff;
      font-size: 20px;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 728px) {
  #hero-scene {
    .hero-image {
      top: 0vh;
      left: 0vw;
      height: 90vh;
      width: 110vw;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .button-go, .blue {
      display: none;
    }

    .message { font-size: 64px; }
    .message-stroke { 
      font-size: 42px;
      margin-top: 0;
    }

    .hero-scene-text {
      position: absolute;
      top: 7vh;
      margin-left: 5vw;

      .title {
        font-size: 53px;
        line-height: 70px;
        width: 80%;
      }
    }

    .white-waves {
      position: absolute;
      bottom: 20vh;
      right: -20vh;
      width: 50%;
    }
  }
}