$dark-blue: #0f63e2;
$blue: #59cbff;

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#hero-scene {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 80px);
  height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  cursor: none;
  touch-action: none;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  margin: 0 40px;
  animation: 3s fadeInHome;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;

  .message {
    font-weight: 900;
    font-size: 94px;
    color: $dark-blue;
    font-family: "Playfair Display", serif;
  }

  .message-stroke {
    font-weight: 900;
    font-style: italic;
    font-size: 72px;
    margin-top: -25px;
    font-family: "Playfair Display", serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-color: $dark-blue;
  }

  i {
    position: absolute;
    color: $blue;
    bottom: 4vh;
    font-size: 32px;
    animation: 2s cursorTap infinite;
  }
}
