$dark-blue: #0f63e2;
$blue: #59cbff;
$pink: #ffc0cb;

.mount-animation-light-blue {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: $blue;
  animation: 2s slideUp;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.mount-animation-blue {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: $dark-blue;
  animation: 1.5s slideUp;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.mount-animation-yellow{
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: $pink;
  animation: 1s slideUp;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: 999;
}

@keyframes slideUp {
  from {
    height: 0%;
    bottom: 0%;
  }
  50% {
    height: 100%;
    bottom: 0%;
  }
  to {
    height: 0%;
    bottom: 100%;
  }
}
