$dark-blue: #0e207b;
$blue: #59cbff;
$light-pink: #ffe2e7;
$pink: #ffc0cb;

#section-two {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 110vh;
  color: #fff;
  background: url("/section2-res.jpg") no-repeat;
  background-size: cover;

  .image-locations {
    display: flex;
    width: 80%;
    text-transform: uppercase;
    font-weight: 900;
    height: 100%;
    justify-content: space-between;
    

    .locations {
      position: relative;
      width: 15%;

      .location-text { padding: 10px 15px; }

      i {
        position: absolute;
        border-radius: 50%;
      }

      .location-description { 
        position: absolute;
        font-size: 13px;
        z-index: 1;
        width: 150px;
        background: #fff;
        color: $dark-blue;
        font-family: "Playfair Display", sans-serif;
        display: none;
        list-style: none;
        text-transform: none;
        font-weight: 400;
        padding: 30px;
        height: 130px;
        animation: 0.5s descriptionFadeIn;
        animation-fill-mode: forwards;

        li { 
          opacity: 0;
          margin-bottom: 20px;
          animation: 1s fadeIn;
          animation-fill-mode: forwards;
          animation-delay: 0.5s;
        }
        li:last-child { margin-bottom: 0px; }
      }

      &:hover {
        .location-description { display: block; }
      }
    }

    i {
      top: 47px;
      padding: 5px;
    }

    .location-left {
      margin-top: 30%;
      height: 40%;
      border-left: 1px solid $pink;
      text-align: left;
      transition: 0.5s all ease;

      .location-text { 
        background-color: $pink;
        transition: 0.5s all ease;
      }

      .location-description { 
        top: 34px;
        left: 10px;
      }

      i {
        background-color: $pink;
        left: 10px;
      }
    }

    .location-center {
      margin-top: 18%;
      height: 25%;
      border-right: 1px solid $dark-blue;
      text-align: right;

      .location-text { 
        background-color: $dark-blue;
        transition: 0.5s all ease;
      }

      .location-description { 
        top: 34px;
        right: 10px;
      }

      i {
        background-color: $dark-blue;
        right: 10px;
      }
    }

    .location-right {
      margin-top: 27%;
      height: 32%;
      border-right: 1px solid $blue;
      text-align: right;

      .location-text { 
        background-color: $blue;
        transition: 0.5s all ease;
      }

      .location-description { 
        top: 34px;
        right: 10px;
      }

      i {
        background-color: $blue;
        right: 10px;
      }
    }
  }

  .message-stroke {
    position: absolute;
    bottom: 15%;
    background-color: $pink;
    padding: 0px 25px 5px 15px;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}

#section-one, #section-four {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(100vw - 40%);
  height: 110vh;
  color: $dark-blue;
  padding: 0 20%;

  .message-plain, .message-stroke {
    transition: 1s all ease;
  }

  .section-one-anchor, .section-four-anchor {
    opacity: 0;
  }

  .pink-waves {
    position: absolute;
    top: 10%;
    left: 10%;
    transition: 1s all ease;
  }

  .blue-waves {
    position: absolute;
    bottom: 10%;
    right: 10%;
    transition: 1s all ease;
  }
}

#section-three {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 20vh;
  height: 100vh;
  color: $dark-blue;

  .message-plain {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .left-section {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
    opacity: 0;

    .wrapper-img {
      height: 100%;
      width: 100%;
      background-image: url("/guide-res.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .right-section {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 46%;
    padding: 7%;
    opacity: 0;

    .message-stroke, .message-plain { color: $dark-blue; }

    .guide-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 80%;

      input {
        width: calc(100% - 15px);
        height: 35px;
        border: none;
        outline: none;
        padding-left: 15px;
        margin-bottom: 20px;
        margin-top: 8px;
        box-shadow: 2px 2px 10px rgba(31, 62, 214, 0.1);
      }

      label {
        text-transform: capitalize;
        font-size: 12px;
        color: #0e207b;
      }

      button {
        font-weight: 900;
        border: none;
        padding: 15px 20px;
        color: white;
        background-color: $blue;
        font-size: 13px;
        transition: 0.5s all ease;
        outline: none;
        cursor: none;

        &:hover { background-color: #24a7ff; }
        &:active { background-color: $dark-blue; }
      }
    }
  }
}

.parallax {
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/bottom-res.jpg");
}

.message-stroke {
  font-weight: 900;
  font-style: italic;
  font-size: 52px;
  font-family: "Playfair Display", serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.message-plain {
  font-size: 36px;
  color: $dark-blue;
  font-family: "Playfair Display", serif;
}

#section-two, #section-four { background-color: #fff; }

#section-four { 
  height: 70vh;

  .social-media-button {
    font-weight: 900;
    border: none;
    padding: 15px 20px;
    color: white;
    z-index: 1;
    background-color: $blue;
    font-size: 13px;
    transition: 0.5s all ease;
    outline: none;
    cursor: none;
    margin-top: 30px;

    .blue-waves { z-index: 0; }

    &:hover { background-color: #24a7ff; }
    &:active { background-color: $dark-blue; }
  }
}

.transition-on {
  animation: 2s fadeIn;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes descriptionFadeIn {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 150px;
  }
}
