$dark-blue: #0e207b;
$blue: #59cbff;
$light-pink: #ffe2e7;
$pink: #ffc0cb;

.parallax {
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/bottom-res.jpg");
}

@media screen and (max-width: 728px) {
  .parallax {
    margin-top: 50px;
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
    background-size: contain;
  }
}

.message-stroke {
  font-weight: 900;
  font-style: italic;
  font-size: 52px;
  font-family: "Playfair Display", serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.message-plain {
  font-size: 36px;
  font-weight: 900;
  color: $dark-blue;
  font-family: "Playfair Display", serif;
}

.transition-on {
  animation: 5s fadeIn;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
