@media screen and (max-width: 728px) {
  #section-one .image-locations .locations {
    width: 25%;

    .location-description {
      font-size: 12px;
      width: 70px;
    }

    .message-stroke { font-size: 42px; }
  }

  #section-two {
    .message-plain { font-size: 28px; }
    .message-stroke { font-size: 32px; }
  }

  #section-three {
    flex-direction: column;

    .left-section, .right-section {
      position: relative;
      width: 100%;

      img {
        height: 50vh;
      }

      .guide-form {
        width: calc(100% - 40px);
        margin: 20px;
      }
    }
  }
}
