@media screen and (max-width: 728px) {
  #pictures { display: none; }
  
  #intro {
    .image-locations .locations {
      width: 25%;
  
      .location-description {
        font-size: 12px;
        width: 70px;
      }
  
      .message-stroke { font-size: 42px; }
    }
    
    .pink-waves { z-index: -999; }
    .blue-waves { 
      z-index: -999; 
      opacity: 0.2;
    }
    
    .message-plain { font-size: 28px; }
    .message-stroke { 
      font-size: 32px;
      margin-top: 10px;
    }
  }

  #what-to-do, #say-hello {
    .message-plain { font-size: 28px; }
    .message-stroke { font-size: 32px; }

    .blue-waves { z-index: -999; }
  }

  #what-to-do .image-locations {
    width: 90%;

    .locations {
      width: 30%;
    }
  }

  #guide {
    flex-direction: column;

    .left-section, .right-section {
      position: relative;
      width: 100%;

      img {
        height: 50vh;
      }

      .guide-form {
        width: calc(100% - 40px);
        margin: 20px;
      }
    }
  }
}
