$dark-blue: #0f63e2;
$blue: #59cbff;

.header {
  position: fixed;
  height: 15vh;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-weight: 900;
    letter-spacing: -1px;
    color: $blue;
    margin-left: 5vw;

    span { font-weight: 100; }
  }

  .navigation {
    display: flex;
    margin-right: 5vw;
    color: $blue;

    .nav-item {
      font-weight: 900;
      font-size: 12px;
      margin-left: 40px;
      transition: 0.5s all ease;
      position: relative;
      text-decoration: none;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}