$pink: #ffc0cb;

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: absolute;
  height: 13vh;
  width: 90vw;
  max-width: 100%;
  z-index: 1;
  opacity: 0;
  display: flex;
  border-bottom: 1px solid rgba(255,255,255, 0.7);
  align-items: center;
  justify-content: space-between;
  animation: 3s fadeInHome;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;

  .logo {
    font-weight: 900;
    letter-spacing: -1px;
    color: #fff;

    span { font-weight: 100; }
  }

  .navigation {
    display: flex;
    color: #fff;

    .nav-item {
      font-weight: 900;
      font-size: 12px;
      margin-left: 40px;
      transition: 0.5s all ease;
      position: relative;
      text-decoration: none;

      &:hover {
        color: $pink;
      }
    }
  }
}

@media screen and (max-width: 728px) {
  .header {
    .navigation {
      .nav-item { 
        font-size: 10px;
        margin-left: 20px;
      }
    }
  }
}
