$dark-blue: #0f63e2;
$blue: rgb(89, 203, 255);
$orange: #ffb350;

.cursor {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 0;
  left: 0;
  background: $orange;
  border-radius: 80%;
  border: 160px solid $dark-blue;
  backface-visibility: hidden;
  pointer-events: none;
  opacity: 1;
  mix-blend-mode: screen;
  transition: 0.5s all ease;
}

.cursor-small {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: $blue;
  border-radius: 80%;
  backface-visibility: hidden;
  pointer-events: none;
  opacity: 1;
  z-index: 999;
  animation: 1s fadeIn ease;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
