$blue: #59cbff;

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  background-color: #fff;
  color: $blue;
  font-weight: 900;

  .logo-anchor {
    opacity: 0;
  }
}

.transition-on {
  animation: 2s fadeIn;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
