$blue: #59cbff;

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  background-color: #fff;
  color: $blue;
}

#footer-img {
  width: 100vw;
  height: 10vh;
  background-image: url("/home-min.jpg");
  background-size: cover;
  background-position: bottom;
}
