$dark-blue: #0f63e2;

#footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  background-color: #fff;
  color: $dark-blue;
}
