.header {
  position: fixed;
  z-index: 999;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;

  .logo {
    margin-left: 40px;
  }
}

.header.sticky {
  background-color: #fff;
}

.app-layout {
  position: relative;
  overflow: scroll;
  height: 100vh;
}

section {
  position: relative;
  height: 1000px;
  background-color: red;
}

#cursor {
  height: 50px;
  width: 50px;
  background-color: rgb(89, 203, 255);
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: overlay;
  opacity: 0;
  z-index: 9999;
}

.fa-long-arrow-alt-down { 
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
  color: #fff; 
  font-size: 20px;
  opacity: 0;
  transition: 1s opacity ease;
  animation: 2s floatArrow infinite;
}

.hero-scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  mix-blend-mode: overlay;
  height: 100vh;
}

.blue-block {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgb(89, 203, 255);
  animation: 2s slideUp;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: -999;
}

.red-block {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgb(22, 153, 230);
  animation: 1.5s slideUp;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: -999;
}

.yellow-block {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgb(255, 225, 89);
  animation: 1s slideUp;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: -999;
}

.image-block {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  animation: 1s slideUpBg;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: -999;
}

@keyframes slideUp {
  from {
    height: 0%;
    bottom: 0%;
  }
  50% {
    height: 100%;
    bottom: 0%;
  }
  to {
    height: 0%;
    bottom: 100%;
  }
}

@keyframes slideUpBg {
  from {
    bottom: -40%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes floatArrow {
  from {
    margin-top: 10px;
  }
  50% {
    margin-top: 20px;
  }
  to {
    margin-top: 10px;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
