.header {
  position: fixed;
  z-index: 999;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;

  .logo {
    margin-left: 40px;
  }
}

.app-layout {
  position: relative;
  overflow: scroll;
  height: 100vh;
}

.section-with-bg {
  position: relative;
  height: 110vh;
  width: 120%;
  left: -10%;
  //transform: rotate(-5deg);
  background-color: rgb(255, 200, 200);
}

.section-with-no-bg {
  position: relative;
  height: 110vh;
  width: 120%;
  left: -10%;
  //transform: rotate(-5deg);
  background-color: #fff;
}

.fa-long-arrow-alt-down { 
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
  color: #fff; 
  font-size: 20px;
  z-index: 998;
  opacity: 0;
  transition: 0.5s opacity ease;
  animation: 2s floatArrow infinite;
}

.hero-scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  mix-blend-mode: screen;
  height: 100vh;
  font-family: "Playfair Display";
  font-size: 36px;
  background-color: white;

  h1 {
    color: rgb(15, 99, 226);
  }
}

.image-block {
  position: relative;
  width: 100vw;
  height: auto;
  opacity: 1;
  //left: 0;
  //top: 0;
  //animation: 1s slideUpBg;
  //animation-delay: 1.5s;
  //animation-fill-mode: forwards;
  //z-index: -999;
}

#cursor {
  height: 50px;
  width: 50px;
  background-color: rgb(89, 203, 255);
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: darken;
  opacity: 0;
  z-index: 997;
}

#colored-cursor {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 237, 180);
  border: 100px solid rgb(15, 99, 226);
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  z-index: 996;
  transition: 1s all ease;
}

.blue-block {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgb(89, 203, 255);
  animation: 2s slideUp;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.red-block {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgb(22, 153, 230);
  animation: 1.5s slideUp;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.yellow-block {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgb(255, 225, 89);
  animation: 1s slideUp;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  z-index: 999;
}

@keyframes slideUp {
  from {
    height: 0%;
    bottom: 0%;
  }
  50% {
    height: 100%;
    bottom: 0%;
  }
  to {
    height: 0%;
    bottom: 100%;
  }
}

@keyframes slideUpBg {
  from {
    top: 40%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes floatArrow {
  from {
    margin-top: 10px;
  }
  50% {
    margin-top: 20px;
  }
  to {
    margin-top: 10px;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
